* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
}

.App {
  background-image: url("./assets/morning.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease;
}
.App.warm {
  background-image: url("./assets/red.jpg");
}
main {
  min-height: 100vh;
  /* background-image: linear-gradient(to ); */
  padding: 25px;
}
.search-box {
  width: 100%;
  /* margin: 0 auto 75px; */
  margin-right: "auto";
  margin-left: "auto";
  margin-top: 20px;
}
.search-box .search-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  border-radius: 25px;
  outline: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: -25px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}
.search-box .search-bar:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.location-bar .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-top: 15px;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
.location-bar .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
.weather-box .temp {
  position: relative;

  margin: 30px auto;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.2); */
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  /* box-shadow: 3px 6px rgba(0, 0, 0, 0.2); */
}
.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
